.App {
    text-align: center;
}

.wheel-container {
    position: relative;
}

.wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;

    /*animation: rotating 2s linear infinite;*/

    /* transition: transform 3s ease-out; */
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sector {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    transform-origin: 0 50%;
    top: 100%;
    left: 50%;
    /*transform: translateY(-200%);*/
    /* border: 1px solid black; */
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}